.infogram-embed{
    position: absolute;
    left: 25%;
    top: 10%;
    width: 50%;
    height: 50%;
}
body{
    font-family: Helvetica;
}

.dwnldBtn{
    width: 80px;
    height: 40px;
    position: absolute;
    left: 10%;
    top: 3%;
    
}

.signOutbtn{
    position: fixed;
}